<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>

    <!--<add name="DSMdbEntities" connectionString="metadata=res://*/DSMEntities.csdl|res://*/DSMEntities.ssdl|res://*/DSMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAP4;initial catalog=EnSi_SCL;User ID=sa;Password=hns@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="strcon" connectionString="Data Source=LAP4;Initial Catalog= EnSi_SCL;User ID=sa;Password=hns@123; Persist Security Info=False;"/>-->


    <!--<add name="DSMdbEntities" connectionString="metadata=res://*/DSMEntities.csdl|res://*/DSMEntities.ssdl|res://*/DSMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAP4;initial catalog=DSMdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DSMdbEntities" connectionString="metadata=res://*/DSMEntities.csdl|res://*/DSMEntities.ssdl|res://*/DSMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HNS;initial catalog=DSMdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DSMdbEntities" connectionString="metadata=res://*/DSMEntities.csdl|res://*/DSMEntities.ssdl|res://*/DSMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER\SQLSERVEREXP;initial catalog=DSM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DSMdbEntities" connectionString="metadata=res://*/DSMEntities.csdl|res://*/DSMEntities.ssdl|res://*/DSMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INFO-06\SQLEXPRESS;initial catalog=DSMdb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DSMdbEntities" connectionString="metadata=res://*/DSMEntities.csdl|res://*/DSMEntities.ssdl|res://*/DSMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=T6SA-DESP-HVF1\SQLEXPRESS;initial catalog=DSM;User ID=sa;Password=sintex@123;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DSMdbEntities" connectionString="metadata=res://*/DSMEntities.csdl|res://*/DSMEntities.ssdl|res://*/DSMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=DSM;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--EnSi hns Local-->
  <!--<add name="DSMdbEntities" connectionString="metadata=res://*/DSMEntities.csdl|res://*/DSMEntities.ssdl|res://*/DSMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER;initial catalog=Test_API_DB;persist security info=True;user id=sa;password=hns@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="strcon" connectionString="Data Source=SERVER;Initial Catalog= Test_API_DB;User ID=sa;Password=hns@123; Persist Security Info=False;"/>-->

    <!--<add name="DSMdbEntities" connectionString="metadata=res://*/DSMEntities.csdl|res://*/DSMEntities.ssdl|res://*/DSMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=122.165.105.230,1433; Network Library=DBMSSOCN;initial catalog=Test_API_DB;persist security info=True;user id=sa;password=hns@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="strcon" connectionString="Data Source=122.165.105.230,1433; Network Library=DBMSSOCN;Initial Catalog= Test_API_DB;User ID=sa;Password=hns@123; Persist Security Info=False;"/>-->
    <!--End hns local-->
    <add name="DSMdbEntities" connectionString="metadata=res://*/DSMEntities.csdl|res://*/DSMEntities.ssdl|res://*/DSMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VENKATESH\DEVSYSTEM;initial catalog=Ensi_Scl_TML;User ID=sa;Password=hns@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="strcon" connectionString="Data Source=VENKATESH\DEVSYSTEM;Initial Catalog=Ensi_Scl_TML;User ID=sa;Password=hns@123; Persist Security Info=False;"/>

    <!--Test_db-->
    <!--<add name="DSMdbEntities" connectionString="metadata=res://*/DSMEntities.csdl|res://*/DSMEntities.ssdl|res://*/DSSCMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER;initial catalog=Test_API_DB;persist security info=True;user id=sa;password=hns@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="strcon" connectionString="Data Source=SERVER;Initial Catalog= Test_API_DB;User ID=sa;Password=hns@123; Persist Security Info=False;"/>-->
   
      <!--<add name="DSMdbEntities" connectionString="metadata=res://*/DSMEntities.csdl|res://*/DSMEntities.ssdl|res://*/DSMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APDCHNMSDB;initial catalog=EnSi_SCL;User ID=ensi;Password=ensi@scl;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="strcon" connectionString="Data Source=APDCHNMSDB;Initial Catalog= EnSi_SCL;User ID=ensi;Password=ensi@scl; Persist Security Info=False;"/>-->

    <!--End EnSi Local-->
    <!--SCL Live-->
    <!--<add name="DSMdbEntities" connectionString="metadata=res://*/DSMEntities.csdl|res://*/DSMEntities.ssdl|res://*/DSSCMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=APDCHNSQL;initial catalog=EnSi_SCL;persist security info=True;user id=ensi;password=ensi@scl;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="strcon" connectionString="Data Source=APDCHNSQL;Initial Catalog=EnSi_SCL;User ID=ensi;Password=ensi@scl; Persist Security Info=False;"/>-->
   
    <!--SCL End Live-->
    
    <!--<add name="strcon" connectionString="Data Source=SERVER;Initial Catalog= Test_API_DB;User ID=sa;Password=hns@123; Persist Security Info=False;" /><add name="DSMdbEntities" connectionString="metadata=res://*/DSMEntities.csdl|res://*/DSMEntities.ssdl|res://*/DSMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER;initial catalog=Test_API_DB;persist security info=True;user id=sa;password=hns@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="strcon" connectionString="Data Source=INFO-06\SQLEXPRESS;Initial Catalog= EnSi_SCL;persist security info=True; Integrated Security=SSPI; Persist Security Info=True;" />
    <add name="DSMdbEntities" connectionString="metadata=res://*/DSMEntities.csdl|res://*/DSMEntities.ssdl|res://*/DSMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INFO-06\SQLEXPRESS;initial catalog=EnSi_SCL;persist security info=True; Integrated Security=SSPI;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
